<div class='container row'>
    <img src='banana.png' class='col-sm'>
    <img src='cebollas.png' class='col-sm'>
    <img src='lechuga.png' class='col-sm'>
    <img src='papas.png' class='col-sm'>
    <img src='pimenton.png' class='col-sm'>
    <img src='tomate.png' class='col-sm'>
</div>


